* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* 1rem = 10px */

  --color-primary: #530083;
  --color-secondary: #ffffff;
  --color-font: #cccccce6;
}

html,
body {
  height: 100%;
  background-color: var(--color-primary);
  font-size: 1.6rem;
}

p,
i,
h1 {
  color: var(--color-font);
}

i {
  font-size: 3.2rem;
}

h1 {
  margin-bottom: 10px;
  font-size: 3.2rem;
}

section {
  display: flex;
  align-items: center;
  height: 100%;
}

.container {
  width: min(42.5rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pause {
  display: none;
}
.starttext {
  display: none;
}

.painel {
  text-align: center;
  width: 20rem;
  padding: 1rem;
}

.painel p {
  opacity: 0.8;
  transition: 1s ease-in;
}

.painel p.active {
  opacity: 1;
  color: var(--color-secondary);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
}

.time {
  position: relative;
  display: flex;
  flex-direction: row;
}

.time p {
  font-size: 5.6rem;
}

.controls {
  display: flex;
  margin-top: 3rem;
}

.controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controls #reset {
  display: none;
}
